<!doctype html>
<html>
   <body>
        {% for dict in response %}
            <p> [ {{dict['id']}} ] <a href={{dict['thumbnailUrl']}}> {{dict['title']}}</a> </p>
            <img src={{dict['thumbnailUrl']}}>
        {% endfor %}
   </body>
    <form action="http://localhost:5000">
        <p><input type = "submit" value = "Return"/></p>
    </form>
</html>